/data
/output
/notes
.Rproj.user
*.txt
image.png
debug_fooddmnd_Africa_Eastern_iter69503_step2.RDS
amb_Ref_ML.csv
amb_GCAM_compare.xlsx
.Rproj.user/shared/notebooks/paths
scripts/03c_calculate_demand_GCAM_MLincome.R
scripts/03c_calculate_demand_GCAM_MLprice.R
scripts/03c_calculate_demand_GCAM_MLscale.R
rename_files.sh
strip_chars.sh
